<?xml version="1.0"?>
<launch>
  <arg name="robot" default="youbot"/>

  <arg name="group"        default="arm_1"/>
  <arg name="end_effector" default="arm_1_gripper"/>

  <node pkg="moveit_simple_grasps" type="moveit_simple_grasps_server" name="moveit_simple_grasps_server">
    <param name="group"        value="$(arg group)"/>
    <param name="end_effector" value="$(arg end_effector)"/>
	
    <rosparam command="load" file="$(find youbot_moveit)/config/grasp_data.yaml"/>
  </node>
</launch>
