<!-- Launch file to brin up all essentioal nodes for navigation with obstagle avoidance.
This scrip doe not start any SLAM algorithm.
-->

<launch>

	<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch" />
	<include file="$(find youbot_navigation_common)/launch/base_front_hls_lfcd_node.launch" />
	<include file="$(find youbot_navigation_global)/launch/youbot_move_base_global.launch" />

</launch>

